/* 主页index.html的样式表 */

/* 顶部导航条 */
.topbar-wrapper{
    /* 设置宽全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 背景色 */
    background-color: #333;
}

.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
/* 设置超链接移入的效果 */
.topbar a:hover{
    color: #ffffff;
}

/* 设置中间的线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
    
}

/* 设置左侧导航栏 */
.service,.topbar li{
    float: left;
}

.app{
    position: relative;
}

/* .app-wrapper:hover > .app::after{ */
    /* content 属性与 :before 及 :after 伪元素配合使用，来插入生成内容。 */
.app::after{
    display: none;
    content: '';
    /* 设置绝对定位 */
    position: absolute;
    width: 0;
    height: 0;
    /* 设置四个方向的边框 */
    border: 6px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}

/* 设置下载app的下拉 */
.app .qrcode{
    /* display: none; */
    position: absolute;
    left: -40px;
    width: 124px;
    height: 0px;
    /* overflow 属性规定当内容溢出元素框时发生的事情。 */
    overflow: hidden;
    background-color: #fff;
    line-height: 1;
    text-align: center;
    /* 阴影效果 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    /* transition: 用于为样式设置过度效果 */
    transition: height .3s;
    z-index: 100;
}
/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
/* 设置二维码中的文字 */
.app .qrcode span{
    color: #000;
    font-size: 14px;
}
.shop-car,.user-info{
    float: right;
}

.shop-car{
    position:relative;
    margin-left: 26px;
}
/* 设置购物车样式 */
.shop-car a{

    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-car:hover .shops{
    height: 100px;
    display: block;
}

/* 设置购物车下拉 */
.shop-car .shops{
    /* display: none; */
    position: absolute;
    height: 0px;
    width: 300px;
    overflow: hidden;
    background-color: #fff;
    margin-left: -180px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    line-height: 100px;
    transition: height 0.3s;
    z-index: 99;
}

.shop-car .shops span{
    font-size: 12px;
}

.shop-car:hover a{
    background-color: #ffffff;
    color: #ff6700;
}
.shop-car i{
    margin-right: 2px;
}

/* 设置中间的header */
.header{
    height: 100px;
    /* background-color: darkcyan; */
}

.header-wrapper{
    /* background-color: #333; */
    position: relative;
}

/* 设置logo的h1 */
.header .logo{
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
    text-indent:-9999px;
}

/* 统一设置logo的超链接 */
.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-image: url(../img/logo-mi2.png);
    background-size: 100%;
    transition: left 0.3s;
}

/* 设置home的图片 */
.header .logo .home{
    left: -55px;
    background-image: url(../img/mi3.png);
}

/* 设置mi移动的图片 */
.header .logo:hover .mi{
    left: 55px;
}
/* 设置home移动的图片 */
.header .logo:hover .home{
    left: 0px;
}

/* 设置中间的导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;

}

.header .nav{
    /* width: 792px; */
    /* background-color: darkcyan; */
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
}

/* 设置导航条中的链接 */
.nav > li{
    float: left;
}

.all-goods-wrapper{
    position: relative;
    /* background-color: red; */
}

/* 设置左侧导航条 */
.left-menu{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 999;
    left: -120px;
    line-height: 1;
}

ul.left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;

}

ul.left-menu li a:hover{
    background-color: #ff6700;
}
.left-menu a i{
    float: right;
    line-height: 42px;
}

.nav-wrapper li a{
    font-size: 16px;
    margin-right: 20px;
    display: block;
}

/* 隐藏全部商品
    visibility 属性规定元素是否可见。即使不可见的元素也会占据页面上的空间。
*/
.all-goods{
    visibility: hidden;
}

.nav .goods-info{
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    /* border-top: solid 1px rgb(224, 224, 224);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
    position: absolute;
    top: 100px;
    left: 0; 
    transition: height 0.3s;
    z-index: 9999;
}

/* .goods-info 和 li 是兄弟关系 */
/* .nav li:not(:first-of-type):not(:nth-child(9)):not(:nth-child(10)):hover ~ .goods-info, */
.nav .show-goods:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border-top: solid 1px rgb(224, 224, 224);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* 设置搜索框的容器 */
.search-wrapper{
    width: 296px;
    height: 50px;
    /* background-color: red; */
    float: right;
    margin-top: 25px;
    
}

.search-wrapper .search-inp{
    box-sizing: border-box;
    float: left;
    height: 50px;
    width: 244px;
    padding: 0 10px;
    border: none;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;
}


.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}

/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + a > button{
    border-color:#ff6700;
}

.search-wrapper .search-btn:hover{
    color: #FFF;
    background-color: #ff6700;
    cursor: pointer;
}

/* 设置banner */
.banner{
    position: relative;
    height: 460px;
}

.banner .img-list li{
    position: absolute;
}

.banner img{
    width: 100%;
    vertical-align: top;
}

/* 设置导航的点 */
.pointer{
    position: absolute;
    bottom: 22px;
    right: 35px;
}
.pointer a{
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-radius: 50%;
    margin-left: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.pointer a:hover,
.pointer .active{
    border-color:rgba(0, 0, 0, 0.4) ;
    background-color:rgba(255, 255, 255, 0.4)
}

/* 设置两个箭头 */
.prev-next a{
    width: 41px;
    height: 69px;
    background-image: url(../img/icon-slides.png);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.prev-next .prev{
    left: 234px;
    background-position: -84px 0;
}
.prev-next .prev:hover{
    background-position:0;
}


.prev-next .next{
    right: 0;
    background-position: -125px 0;
}
.prev-next .next:hover{
    background-position: -42px 0;
}

/* 设置回到顶部 */
.back-top{
    width: 27px;
    height: 205px;
    background-color: #fff;
    position: fixed;
    bottom: 60px;
    /* 视口宽度的50% */
    right: 50%;
    margin-right: -639px;
    /* 
        布局的等式
            left + margin-left + width + margin-right + right = 视口的宽度

            auto + 0 + 26 + 0 + 50%视口宽度 = 视口宽度
    */
}
.back-top .back-top-list li{
    display: block;
    line-height: 41px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05); 
    position: relative;
}

.back-top .back-top-list li:hover a{
   color: #ff6700;
}

.back-top .back-top-list li a{
    display: block;
    color: #b0b0b0;
    cursor:default;
    transition: all 0.5s;
    position: relative;
}


.back-top-list a::after{
    display: none;
    content: '';
    /* 设置绝对定位 */
    position: absolute;
    width: 0;
    height: 0;
    /* 设置四个方向的边框 */
    border: 7px solid red;
    border-color: transparent transparent transparent peru;
    /* 去除右边框 */
    border-left-color: white;
    border-right: none;
    left: -15px;
    top: 15px;
    
    
}

.back-top-app .back-top-download{
    display: none;
    height: 188px;
    width: 120px;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.05); */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -135px;
    top: 0px;
    
}

.back-top-download img{
    width: 100px;
    margin: 10px 10px;
    margin-bottom: 0;
}
.back-top-download span{
    display: block;
    color: #665e57;
    width: 60%;
    margin: 0 auto;
    line-height: 20px;
}

.back-top-app:hover .back-top-download,
.back-top-app:hover::after{
    display: block;
}
.back-top-list .other:hover div,
.back-top-list a:hover::after{
    display: block;
}


.back-top-list li .other div{
    display: none;
    position: absolute;
    font-size: 12px;
    left: -114px;
    top: 11px;
    width: 100px;
    /* border: 1px solid red; */
    line-height: 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.back-top-list li .other span{
    color: #757575;
    background-color: white;
    /* border: 1px solid red; */
    float: right;
    padding: 0 5px;
}


/* 设置下部广告区域 */
.ad{
    height: 170px;
    /* background-color: red; */
     /* 固定容器的宽度 */
     width: 1226px;
     /* 设置容器居中 */
     margin: 0 auto;   
     /* 设置最小宽度,不让body过小，溢出 */
     min-width: 1226px;
     margin-top: 14px;
}

.ad .shortcut,
.ad .imgs,
.ad li{
    float: left;
}

/* 设置左侧快捷方式 */
.ad .shortcut{
    width: 230px;
    height: 168px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    padding-left: 4px;
}

.ad .shortcut li{
    position: relative;
}

.ad .shortcut li::before{
    content: '';
    position: absolute;
    width: 65px;
    height: 1px;
    background-color: #665e57;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}
.ad .shortcut li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: #665e57;
    top: 0;
    bottom: 0;
    margin: auto 0;
    
}


/* 设置快捷方式中的超链接 */
.ad .shortcut a{
    display: block;
    color: #cacaca;
    height: 84px;
    width: 76px;
    text-align: center;
    font-size: 12px;
    /* 解决子元素和父元素外边距重叠 */
    overflow: hidden;
}

.ad .shortcut a:hover{
    color: #fff;
}

.ad .shortcut a i{
    margin-top: 20px;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;

}

/* 设置左侧的图片 */
.ad .imgs li{
    width: 316px;
    margin-right: 15px;

}

/* 给所有 li 设置外边距,但是最后一个不需要外边距,去除外边距,图片上移 */
.ad .imgs li:last-child{
    margin: 0;
}


.ad .imgs img{
    width: 100%;
    vertical-align: top;
}
